h1{
    color: blueviolet;
    font-family: 'Dancing Script', cursive;
}

#content{
    width: 600px;
    border: 1px solid darkcyan;
    margin: auto;
    padding: 50px;
    background-color: #ccc;
}

p{
    text-align: justify;
}

.portre{
    width: 150px;
    float: left;
    margin-right: 20px;
}